<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head">
</head>
<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
    <block th:replace="fragments/commons::completeHeader"></block>

    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8" th:object="${article}">
                <div class="left_content">
                    <div class="contact_area">
                        <div class="article-content-header mobile-p-top-10">
                            <a sec:authorize="hasAnyRole('ADMIN', 'EDITOR', 'REPORTER')"
                               th:href="@{/articles/edit/{id}(id = *{id})}" class="btn btn-primary delete-button">
                                <span>Edit</span>
                            </a>
                            <h1 class="title" itemprop="headline" th:text="*{title}"></h1>
                            <div class="article-info clearfix">
                                <ul class="clearfix">
                                    <li><i class="icon fa fa-calendar"></i><span th:text="*{posted}"></span>
                                    </li>
                                    <li class="author">
                                        <i class="icon fa fa-user"></i>
                                        <a href="#" th:text="*{authorFullName}"></a>
                                    </li>
                                    <li><i class="icon fa fa-eye"></i><span th:text="*{seen + 1}"></span></li>
                                    <li><i class="icon fa fa-comments"></i><a
                                            href="#comments-section"><span th:text="*{comments.size()}"></span></a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="article-content-body">
                            <div class="featured-image">
                                <div class="article-image">
                                    <a class="lg-img" th:href="*{imageUrl}">
                                        <img th:src="*{imageUrl}" alt="" width="710" style="max-width: 100%">
                                    </a>
                                </div>
                            </div>
                            <div class="text-information" style="margin-top: 20px">
                                <div id="mytextarea" th:utext="*{text}"></div>
                            </div>
                            <div th:unless="*{disabledComments}" id="comments-section">

                                <div class="section-header">
                                    <h3 class="section-title article-name"><span
                                            th:text="|Comments (*{comments.size()})|"></span></h3>
                                    <div class="comment-icon">
                                        <select class="form-select comment-select">
                                            <option selected="" value="last">Newest</option>
                                            <option value="old">Oldest</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="comments-list" th:each="c : ${article.comments}" th:object="${c}">
                                    <div class="comment-block">
                                        <div class="comment-cont">
                                            <div class="comment-avatar">
                                                <i class="icon fa fa-user"></i>
                                            </div>

                                            <div class="comment-author-info">
                                                <h3 th:text="*{authorFullName}"
                                                        class="comment-author-title" style="margin-top: 5px"></h3>
                                                <span class="comment-author-subtitle"><span th:text="*{timePosted}"></span></span>
                                                <a sec:authorize="hasAnyRole('ADMIN', 'EDITOR')"
                                                   th:href="@{/comments/delete/{id}(id = *{id})}"
                                                   class="btn btn-primary delete-button">
                                                    <span>Delete</span>
                                                </a>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div class="comment-author-text">
                                                <p th:text="*{text}"></p>
                                            </div>
                                            <div class="m-top-10 clearfix">
                                                <div class="comment-button">
                                                    <span class="btn btn-green" data-vote="1">
                                                        <i class="icon fa fa-regular fa-thumbs-up"></i>
                                                        <span class="vote-count" th:text="*{likes}"></span>
                                                    </span>
                                                    <span class="btn btn-red" data-vote="0">
                                                        <i class="icon fa fa-regular fa-thumbs-down"></i>
                                                        <span class="vote-count" th:text="*{dislikes}"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-header">

                                    <h3 class="section-title article-name"><span>
                                        <i class="icon mdi mdi-comment-text-multiple-outline"></i>
                                        Comment
                                    </span></h3>

                                </div>

                                <div class="comment-card" sec:authorize="isAuthenticated()">

                                    <div class="comment-cont">
                                        <div class="comment-body">
                                            <div class="comment-group" style="padding-top: 0">
                                                <span class="avatar-subtitle" th:text="${principal_name}"></span>
                                            </div>
                                            <form th:action="@{/comments/add/{id}(id = ${article.id})}"
                                                  method="POST"
                                                  th:object="${commentCreateBindingModel}">
                                                <div th:each="e : ${#fields.errors('text')}" th:text="${e}"
                                                     id="textError"
                                                     class="invalid-feedback text-light text-center form-text bg-danger rounded alert-danger">
                                                </div>
                                                <div class="comment-group">
                                                    <textarea th:field="*{text}" name="comment_text" class="form-control com-fields"
                                                              rows="3" placeholder="Your comment ..."></textarea>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4 contact_form">
                                                        <input type="submit" value="Send">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer" sec:authorize="isAnonymous()">
                                    <span class="label">Want to comment?</span>
                                    <a href="/users/register" class="reg">Register</a>
                                    <span class="label">or</span>
                                    <a href="/users/login" class="reg">Log in</a>
                                    <i class="fa fa-home fa-chevron-right"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">
                    <div th:replace="fragments/commons::latest"></div>
                    <div th:replace="fragments/commons::pop"></div>
                </aside>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/commons::footer"></footer>
</div>
<block th:replace="fragments/commons::scripts"></block>
<script>
    $(document).ready(function(){
        var img = $('#mytextarea img');
        img.addClass("img-responsive");
    })
</script>
</body>
</html>