<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>

<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <block th:replace="fragments/commons::completeHeader"></block>
  <link rel="stylesheet" type="text/css" href="/css/profile.css">
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="left_content">
          <div class="contact_area">
            <h2>Account</h2>
            <div class="row section profile-cont">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="left-sidebar">
                  <div class="left-sidebar-header">
                    <div class="sidebar-avatar">
                      <i class="icon fa fa-user"></i>
                    </div>
                    <div class="sidebar-avatar-info">
                      <h3 th:text="${principalName}">name</h3>
                      <h3 class="avatar-subtitle"><span th:text="${principalEmail}">email</span></h3>
                    </div>
                  </div>

                  <div class="left-sidebar-body">
                    <div class="account-options">
                      <a href="/users/profile/settings">
<span class="special-icon">
<i class="icon fa fa-solid fa-user"></i>
</span>
                        <span class="icon-text"> Settings</span>
                      </a>
                    </div>
                    <div class="account-options">
                      <a th:href="@{/users/profile/change-password}">
<span class="special-icon">
<i class=" icon fa fa-solid fa-lock"></i>
</span>
                        <span class="icon-text"> Change password</span>
                      </a>
                    </div>

                    <div class="account-options">
                      <a onclick="document.getElementById('logout-form').submit();">
<span class="special-icon">
<i class="icon fa fa-solid fa-sign-out"></i>
</span>
                        <span class="icon-text"> Logout</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9">
                <form th:action="@{/users/profile/change-password}"
                      th:object="${userUpdatePasswordBindingModel}"
                      method="POST">
                  <div class="profile-form">
                    <div class="">
                      <div class="profile-header-title">
                        <h3>Change password</h3>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group label">
                              <div th:if="${incorrectPassword}"
                                   class="alert-danger text-center rounded">Incorrect password</div>
                              <div th:if="${samePassword}"
                                   class="alert-danger text-center rounded">New password cannot be the same as the previous one</div>
                            <label>Old password</label>
                            <input type="password" class="form-control" name="oldPassword" value="" placeholder="Old password" required="">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group label">
                              <div th:each="e : ${#fields.errors('newPassword')}" th:text="${e}" id="newPasswordError"
                                   class="invalid-feedback alert-danger text-center rounded">
                                  Password length must be between 4 and 20 characters and passwords should match.
                              </div>
                            <label>New password</label>
                            <input type="password" class="form-control" name="newPassword" value=""
                                   th:errorclass="is-invalid"
                                   placeholder="New password" required="">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group label">
                            <label>Confirm password</label>
                            <input type="password" class="form-control" name="confirmNewPassword"
                                   th:errorclass="is-invalid"
                                   value="" placeholder="Confirm password" required="">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <input type="submit" value="Save">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer th:replace="fragments/commons::footer"></footer>
</div>
<block th:replace="fragments/commons::scripts"></block>
</body>
</html>
