<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head"></head>


<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <block th:replace="fragments/commons::completeHeader"></block>
  <section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider" th:object="${topArticles}">
          <div class="single_iteam"> <a th:href="@{/articles/a/{url}(url = ${topArticles.get(0).url})}"> <img th:src="${topArticles.get(0).imageUrl}" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" th:href="@{/articles/a/{url}(url = ${topArticles.get(0).url})}" th:text="${topArticles.get(0).title}"></a></h2>
              <p th:text="${topArticles.get(0).text}"></p>
            </div>
          </div>
          <div th:if="${topArticles.size() > 1}"
                  class="single_iteam"> <a th:href="@{/articles/a/{url}(url = ${topArticles.get(1).url})}"> <img th:src="${topArticles.get(1).imageUrl}" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" th:href="@{/articles/a/{url}(url = ${topArticles.get(1).url})}" th:text="${topArticles.get(1).title}"></a></h2>
              <p th:text="${topArticles.get(1).text}"></p>
            </div>
          </div>
          <div th:if="${topArticles.size() > 2}"
                  class="single_iteam"> <a th:href="@{/articles/a/{url}(url = ${topArticles.get(2).url})}"> <img th:src="${topArticles.get(2).imageUrl}" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" th:href="@{/articles/a/{url}(url = ${topArticles.get(2).url})}" th:text="${topArticles.get(2).title}"></a></h2>
              <p th:text="${topArticles.get(2).text}"></p>
            </div>
          </div>
          <div th:if="${topArticles.size() > 3}"
               class="single_iteam"> <a th:href="@{/articles/a/{url}(url = ${topArticles.get(3).url})}"> <img th:src="${topArticles.get(3).imageUrl}" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" th:href="@{/articles/a/{url}(url = ${topArticles.get(3).url})}" th:text="${topArticles.get(3).title}"></a></h2>
              <p th:text="${topArticles.get(3).text}"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div th:replace="fragments/commons::latest"></div>
      </div>
    </div>
  </section>
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>World</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                <li th:object="${topWorld}">
                  <figure class="bsbig_fig"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="featured_img"> <img alt="" th:src="*{imageUrl}" loading="lazy"> <span class="overlay"></span> </a>
                    <figcaption> <a th:href="@{/articles/a/{url}(url = *{url})}" th:text="*{title}"></a> </figcaption>
                    <p th:text="*{text}"></p>
                  </figure>
                </li>
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                <li th:each="a : ${world}" th:object="${a}">
                  <div class="media wow fadeInDown"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="media-left"> <img alt="" th:src="*{imageUrl}" loading="lazy"> </a>
                    <div class="media-body"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="catg_title" th:text="*{title}"></a> </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="sports_entertainment_area">
            <div class="sports">
              <div class="single_post_content">
                <h2><span>Sports</span></h2>
                <ul class="business_catgnav wow fadeInDown">
                  <li th:object="${topSport}">
                    <figure class="bsbig_fig"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="featured_img"> <img alt="" th:src="*{imageUrl}" loading="lazy"> <span class="overlay"></span> </a>
                      <figcaption> <a th:href="@{/articles/a/{url}(url = *{url})}" th:text="*{title}"></a> </figcaption>
                      <p th:text="*{text}"></p>
                    </figure>
                  </li>
                </ul>
                <ul class="spost_nav">
                  <li th:each="a : ${sports}" th:object="${a}">
                    <div class="media wow fadeInDown"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="media-left"> <img alt="" th:src="*{imageUrl}" loading="lazy"> </a>
                      <div class="media-body"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="catg_title" th:text="*{title}"></a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="entertainment">
              <div class="single_post_content">
                <h2><span>Entertainment</span></h2>
                <ul class="business_catgnav">
                  <li th:object="${topEntertainment}">
                    <figure class="bsbig_fig wow fadeInDown"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="featured_img"> <img alt="" th:src="*{imageUrl}" loading="lazy"> <span class="overlay"></span> </a>
                      <figcaption> <a th:href="@{/articles/a/{url}(url = *{url})}" th:text="*{title}"></a> </figcaption>
                      <p th:text="*{text}"></p>
                    </figure>
                  </li>
                </ul>
                <ul class="spost_nav">
                  <li th:each="a : ${entertainments}" th:object="${a}">
                    <div class="media wow fadeInDown"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="media-left"> <img alt="" th:src="*{imageUrl}" loading="lazy"> </a>
                      <div class="media-body"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="catg_title" th:text="*{title}"></a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_post_content">
            <h2><span>Photography</span></h2>
            <ul class="photograph_nav  wow fadeInDown">
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617594/photograph_img2_duxz5n.jpg" title="Photography Ttile 1"> <img src="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617594/photograph_img2_duxz5n.jpg" alt=""/></a> </figure>
                </div>
              </li>
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617613/photograph_img3_mdmnsb.jpg" title="Photography Ttile 2"> <img src="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617613/photograph_img3_mdmnsb.jpg" alt=""/> </a> </figure>
                </div>
              </li>
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617640/photograph_img4_mdwhcl.jpg" title="Photography Ttile 3"> <img src="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617640/photograph_img4_mdwhcl.jpg" alt=""/> </a> </figure>
                </div>
              </li>
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617640/photograph_img4_mdwhcl.jpg" title="Photography Ttile 4"> <img src="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617640/photograph_img4_mdwhcl.jpg" alt=""/> </a> </figure>
                </div>
              </li>
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617594/photograph_img2_duxz5n.jpg" title="Photography Ttile 5"> <img src="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617594/photograph_img2_duxz5n.jpg" alt=""/> </a> </figure>
                </div>
              </li>
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617613/photograph_img3_mdmnsb.jpg" title="Photography Ttile 6"> <img src="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617613/photograph_img3_mdmnsb.jpg" alt=""/> </a> </figure>
                </div>
              </li>
            </ul>
          </div>
          <div class="single_post_content">
            <h2><span>Covid 19</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav">
                <li th:object="${topCovid}">
                  <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" th:href="@{/articles/a/{url}(url = *{url})}"> <img th:src="*{imageUrl}" alt="" loading="lazy"> <span class="overlay"></span> </a>
                    <figcaption> <a th:href="@{/articles/a/{url}(url = *{url})}" th:text="*{title}"></a> </figcaption>
                    <p th:text="*{text}"></p>
                  </figure>
                </li>
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                <li th:each="a : ${covid}" th:object="${a}">
                  <div class="media wow fadeInDown"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="media-left"> <img alt="" th:src="*{imageUrl}" loading="lazy"> </a>
                    <div class="media-body"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="catg_title" th:text="*{title}"></a> </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="business_technology_area">
            <div class="business">
              <div class="single_post_content">
                <h2><span>Business</span></h2>
                <ul class="business_catgnav wow fadeInDown">
                  <li th:object="${topBusiness}">
                    <figure class="bsbig_fig"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="featured_img"> <img alt="" th:src="*{imageUrl}"> <span class="overlay"></span> </a>
                      <figcaption> <a th:href="@{/articles/a/{url}(url = *{url})}" th:text="*{title}"></a> </figcaption>
                      <p th:text="*{text}"></p>
                    </figure>
                  </li>
                </ul>
                <ul class="spost_nav">
                  <li th:each="a : ${business}" th:object="${a}">
                    <div class="media wow fadeInDown"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="media-left"> <img alt="" th:src="*{imageUrl}"> </a>
                      <div class="media-body"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="catg_title" th:text="*{title}"></a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="technology">
              <div class="single_post_content">
                <h2><span>Technology</span></h2>
                <ul class="business_catgnav">
                  <li th:object="${topTechnology}">
                    <figure class="bsbig_fig wow fadeInDown"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="featured_img"> <img alt="" th:src="*{imageUrl}" loading="lazy"> <span class="overlay"></span> </a>
                      <figcaption> <a th:href="@{/articles/a/{url}(url = *{url})}" th:text="*{title}"></a> </figcaption>
                      <p th:text="*{text}"></p>
                    </figure>
                  </li>
                </ul>
                <ul class="spost_nav">
                  <li th:each="a : ${technology}" th:object="${a}">
                    <div class="media wow fadeInDown"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="media-left"> <img alt="" th:src="*{imageUrl}" loading="lazy"> </a>
                      <div class="media-body"> <a th:href="@{/articles/a/{url}(url = *{url})}" class="catg_title" th:text="*{title}"></a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div th:replace="fragments/commons::pop"></div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#joke" aria-controls="home" role="tab" data-toggle="tab">Joke</a></li>
              <li role="presentation"><a href="#weather" aria-controls="profile" role="tab" data-toggle="tab">Weather</a></li>
              <li role="presentation"><a href="#categories" aria-controls="messages" role="tab" data-toggle="tab">Categories</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="joke"
                   th:object="${joke}">
                <div class="text-information" style="margin-top: 20px">
                  <div id="mytextarea" th:utext="${joke}"></div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="weather">
                <div class="top-box top-box-a">
                  <h4>Weather in  Plovdiv</h4>
                  <div class="row">
                    <img id="box-a-img" src="/images/weather-icons/01d.png" height="150px" width="150px" alt="">
                    <div><h4><span id="box-a-temp">15</span><span>&#8451;</span></h4></div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="categories">
                <ul>
                  <li class="cat-item"><a th:href="@{/articles/categories/sports}">Sports</a></li>
                  <li class="cat-item"><a th:href="@{/articles/categories/world}">World</a></li>
                  <li class="cat-item"><a th:href="@{/articles/categories/entertainment}">Entertainment</a></li>
                  <li class="cat-item"><a th:href="@{/articles/categories/technology}">Technology</a></li>
                  <li class="cat-item"><a th:href="@{/articles/categories/covid_19}">Covid 19</a></li>
                  <li class="cat-item"><a th:href="@{/articles/categories/business}">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="https://res.cloudinary.com/dzjgi2c7y/image/upload/v1678617535/add_img_nr5isi.jpg" alt=""></a> </div>
<!--          <div class="single_sidebar wow fadeInDown">-->
<!--            <h2><span>Category Archive</span></h2>-->
<!--            <select class="catgArchive">-->
<!--              <option>Select Category</option>-->
<!--              <option>Life styles</option>-->
<!--              <option>Sports</option>-->
<!--              <option>Technology</option>-->
<!--              <option>Treads</option>-->
<!--            </select>-->
<!--          </div>-->
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a th:href="@{/users/login}">Login</a></li>
              <li><a th:href="@{/users/register}">Register</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
  <footer th:replace="fragments/commons::footer" ></footer>
</div>
<block th:replace="fragments/commons::scripts"></block>
<script src="/js/weather.js"></script>
</body>
</html>