<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head"></head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <block th:replace="fragments/commons::completeHeader"></block>

  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <div th:if="${bad_credentials}" class=" alert-danger text-center rounded" role="alert">
              The information you entered does not match our records
            </div>
            <form th:action="@{/users/login}" class="contact_form"
            method="POST">
              <label>E-mail</label>
              <input class="form-control" type="email" name="email" placeholder="Email*" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFESURBVHgBrVXBTcNAEByHBlyCO4A/Qjo6cAfkw4MXoQKHCuCH5DzsDqxUcEgh4pkSDBUYCiDHLT47G7M+O0pGGlu62529Xe+tgX4oy8yytDSOleXG8tkywkiojoiP2ZBwMlKIk4JfnEqMlyLiYtMB48Klpz12Gy5Y9gjNhEwiy1ywL4ZOF7cSOgvx/hJ1hOcscMw3Cshfr8Y6vccqrfCWGvsusV4kzPdf+wQuQtiJThGXWC0UAqPRhfm5xtXdKwRMBDHCp/OMIXqd3aAHk571r1rPhOLuFt/wCH4I6+d/z2Cby16BxoGCdapUJ2Me21VDJzcPuLxduhXxTs8gt41qLZq2ofcOCXZXb6+mZFRBbmyp+GT/BLnVQp6i7/Lzq1d57PYwxwmHwzGidDJxfDWYYvyA1ThgclNdc9RjiafW/AKU5PQLXqva3UUaKU0AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 16px; background-position: right 5px center; cursor: auto;"
              th:value="${email}"
              required autocomplete="email" >
              <label >Password</label>
              <input class="form-control" type="password" placeholder="Password*" name="password"
              required minlength="4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="remember" id="remember">
                <label class="form-check-label remember" for="remember">Remember me</label>
              </div>
              <div class="form-group row text-center submit">
                <div class="col-md-4">
                  <input type="submit" value="Login">
                </div>
              </div>
              <div class="card-footer">
                <span class="label">No registration?</span>
                <a href="/users/register" class="reg">Register</a>
                <i class="fa fa-home fa-chevron-right"></i>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div th:replace="fragments/commons::popular"></div>
    </div>
  </section>

  <footer th:replace="fragments/commons::footer" ></footer>
</div>
<block th:replace="fragments/commons::scripts"></block>
</body>
</html>